
main {
    display: grid;
    place-items: center;
    height:100%; 
    width: 100%;
    padding: 5%;
  }
  
  .container_area {
    position: relative;
    border: 1px solid black;
    height: 800px;
    width: 950px;
    /* overflow: hidden; */
  }
  
  .box_area {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    cursor: pointer;
    background-color: hotpink;
    opacity: 0.5;
  }
  